{% extends 'base.html' %}
{% load static %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block homelink2 %}/{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block contact_active %}class = "active"{% endblock %}
{% block content %}
    <section style="background-repeat: no-repeat; opacity: 0.65; background-size: cover; background-image: url('{% static 'assets/images/back3.jpg' %}');
     " id="banner">
                    <div class="inner">

						<header>
							<h1>Contact</h1>
						</header>
					</div>

    </section>
    <article id="main" style="margin-top: -10%;margin-left: 4%;margin-right: 4%">
      <header class="special container">
          <h2>Meet our Members</h2>
      </header>

    <div class="row mx-auto">

  <div class="column">
    <div class="card mx-auto">
      <div class="container">
        <pre> <h2>Michael Suguna Kumar V</h2>
        Post: Chair
        Email : michaelsugunakumarv18062@it.ssn.edu.in
        IEEE Membership ID: 97599308
        {# needed for formatting #}{# phone: +91 9884694739 #}</pre>
    </div>
  </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Varsha Seshadri</h2>
        Post : Vice-chair
        Email : varsha1860@bme.ssn.edu.in
        IEEE Membership ID: 98408954
          {# +918489663279 #}</pre>
    </div>
  </div>
</div>
  
    <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Alfrin A J</h2>
        Post : Secretary
        Email : ajalfrin@gmail.comm
        IEEE Membership ID: 96518947
        {# +91 9791394453 #}
      </pre>
    </div>
  </div>
</div>

</div>
    <div class="row">
 <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Pooja S</h2>
        Post : Treasurer
        Email : pooja18112@ece.ssn.edu.in
        IEEE Membership ID: 96595746
        {# +91 9791114323 #}
        </pre>
    </div>
</div>
</div>
   
        <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Chandramowli</h2>
        Post : Web Architect
        Email : chamow97@hotmail.com
        {# +91 9445640398 #}
        {# Empty :  #}
        </pre>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Siddique</h2>
        Post : UI/UX Designer
        Email : siddijafr@gmail.com
         {# +91 80564 10788#}
          {# Empty :  #}
        </pre>
    </div>
  </div>
</div>



</div>
    </article>
    
    
<article id="main" style="margin-top: -10%;margin-left: 4%;margin-right: 4%">
      <header class="special container">
          <pre> <h2>IEEE EMBS</h2>
      </header>
      
         <div class="row">



 <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Varsha Seshadri</h2>
          Post : Chair 
          Email : varsha1860@bme.ssn.edu.in
          Membership ID : 98408954
          {# Phone no : +918489663279 #}
          </pre>
      </div>
    </div>
</div>
   
        <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Rebecca Maria</h2>
          Post :  Co-chair
          Email : rebecca1848@bme.ssn.edu.in
          Membership ID : 96078622
          {# Phone no : 9444228101 #}
          </pre>
    </div>
  </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Yuvasri A</h2>
          Post : Vice Chair
          Email : yuvasri1864@bme.ssn.edu.in
          Membership ID : 96079374
          {# Phone no : 6379107639 #}
          </pre>
    </div>
  </div>
  </div>


</div>
<div class="row">

  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Siva Adithya S</h2>
          Post : Secretary 
          Email : siva1953@bme.ssn.edu.in
          Membership ID : 97648442
          {# Phone no : 7092029699 #}
          </pre>
    </div>
  </div>
  </div>


<div class="column">
  <div class="card">
    <div class="container">
      <pre> <h2>Santhoshiya TV </h2>
        Post :  Treasurer 
        Email : santhoshiya11@gmail.com 
        Membership ID : 97756250
        {# Phone no : 9840678900 #}
        </pre>
  </div>
</div>
</div>

</div>
    
      
      
</article>


    
<article id="main" style="margin-top: -10%;margin-left: 4%;margin-right: 4%">
      <header class="special container">
          <pre> <h2>IEEE CS</h2>
      </header>
      
         <div class="row">

 <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Aadhithya B.Kailash</h2>
            Post: Chair
            Email: klaadhithya@gmail.com
            Membership ID: 96251474
              {# Phone no : Not_given #}
          </pre>
      </div>
    </div>
</div>


 <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Keertivaas S</h2>
            Post : Vice chair
            Email : keertivaasoffl@gmail.com
            Membership ID : 96247493
              {# Phone no : Not_given #}
          </pre>
      </div>
    </div>
</div>
   
        <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Harrison Vijay J</h2>
            Post : Secretary
            Email : vijay.harrison@gmail.com
            Membership ID : 96240421
          {# Phone no : Dummy #}
          </pre>
    </div>
  </div>
  </div>


</div>

<div class="row">
    
         <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Akarvin Raja Prajan </h2>
            Post : Treasurer 
            EMail : akarvin2912@gmail.com
            Membership ID : 96251094
          {# Phone no : Dummy #}
          </pre>
    </div>
  </div>
  </div>
  
  
    
    
    
    </div>
</article>
<article id="main" style="margin-top: -10%;margin-left: 4%;margin-right: 4%">
      <header class="special container">
          <pre> <h2>IEEE ComSoc</h2>
      </header>
      
<div class="row">


  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Pooja S</h2>
            Post : Chair
            Email : pooja18112@ece.ssn.edu.in
            Phone no : +91 9791114323
            Membership I'd : 96595746
          {# Phone no : Dummy #}
          </pre>
    </div>
  </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="container">
        <pre> <h2>Aaryan Siddharthan</h2>
            Post : Joint Secretary 
            Email : aaryan19002@ece.ssn.edu.in
            Membership ID : 97909153
          {# Phone no : Dummy #}
          </pre>
    </div>
  </div>
  </div>


<div class="column">
  <div class="card">
    <div class="container">
      <pre> <h2>Nethraa Sivakumar </h2>
            Post : Secretary 
            Email : nethraa18096@ece.ssn.edu.in
            Membership ID : 96583288
        {# Phone no : Dummy #}
        </pre>
  </div>
</div>
</div>

</div>
    
      
      
</article>





{% endblock %}
