{% extends 'base.html' %}
{% load static %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block homelink2 %}/{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block gallery_active %}class = "active"{% endblock %}
{% block content %}
    <section style="background-repeat: no-repeat; opacity: 0.65; background-size: cover; background-image: url('{% static 'assets/images/back3.jpg' %}');
     " id="banner">
                    <div class="inner">

						<header>
							<h2>Gallery</h2>
						</header>
					</div>

    </section>
    <br><br><br>
    <div style="text-align: center">
    {% for item in images %}
        {% static "assets/gallery" as baseUrl %}
        <a href="{{ baseUrl }}/{{item.photo_number}}.jpg" data-lightbox="image"><img style="height: 200px; width: 400px;" class="lazy" data-lightbox="image{{ item.id }}" data-original="{{ baseUrl }}/{{item.photo_number}}.jpg" />
        </a>
    {% endfor %}
    </div>

{% endblock %}
