{% extends 'base.html' %}
{% load static %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block homelink2 %}/{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block event_active %}class = "active"{% endblock %}
{% block content %}
     <section style="background-repeat: no-repeat; opacity: 0.65; background-size: cover; background-image: url('{% static 'assets/images/back3.jpg' %}');
     " id="banner">
                    <div class="inner">

						<header>
							<h2>Upcoming Events</h2>
						</header>
					</div>

    </section>
      <article id="main">
      <header style="margin-top: -400px;" class="special container">
         {% for event in events %}
             <div class="eventsBox">
                 <p style="margin-top: 20px; max-width: 300px; word-wrap:break-word;">{{ event.name }}</p>
                 <p>{{ event.start_date }}</p>
                 {% if event.registration_link != 'NIL' %}
                 <p>Register <a link="{{ event.registration_link }}">here</a>.</p>
                 {% endif %}
                 {% if event.registration_link == 'NIL' %}
                     <p>On Spot Registration</p>
                 {% endif %}
                 <a href="{% url 'home:details' event.id %}"><button style="width: 200px; background-color: #ffffff; color: black" class="button">More Info</button></a>
             </div>
             {% empty %}
             No Events as of now. Please check after some time.
         {% endfor %}
      </header>
    </article>
{% endblock %}
